header {
    background-color: #0000cd;
    color: white;
    text-align: center;
    padding: 5px;
}
nav {
    line-height: 25px;
    background-color: #dcdcdc;
    height: 300px;
    width: 100px;
    float: left;
    padding: 10px;
}
nav a {
    color: black;
    text-decoration: none;
}
section {
    float: left;
    padding: 10px;
}